.App {
  /* text-align: center; */
}

Col{
  margin: 40px
}

.form{
  width: 20%;
  margin: 0 auto;
}
.form button{
  width: 100%;
  margin-top: 10px;
}

.hide-button{
  margin: auto;
  padding: auto;

}

.search-bar{
  width: 60%;
  margin: auto;
}
.cards-container{
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
  margin: auto;
  width: 80%;

}